<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Block</title>
  </head>
  <body>
    <section class="block container">
      <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste,
          aspernatur.
        </p>
      </header>
    </section>
    <section class="block container block--derk block--skewed-right">
      <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste,
          aspernatur.
        </p>
      </header>
    </section>
    <section class="block block--derk block--skewed-left">
      <dive class="container">
        <header class="block__header">
          <h2 class="block__heading">Heading</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste,
            aspernatur.
          </p>
        </header>
      </dive>
    </section>
  </body>
</html>
